body {
  background-color: hsl(204, 43%, 93%);
  color: white;
  font-family: Karla, sans-serif;
  padding: 2rem;
}

main {
  display: block;
  max-width: 20rem;
  margin: auto;
}

h1 {
  color: hsl(179, 62%, 43%);
}

h2 {
  color: hsl(71, 73%, 54%);
  font-size: 1rem;
}

h3 {
  color: white;
}

section {
  background-color: hsl(179, 62%, 43%);
  padding: 1rem;
}

.join {
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  color: hsl(218, 22%, 67%);
}

.monthly {
  color: white;
}

.dollars {
  font-size: 2rem;
}

.per {
  color: hsl(204, 43%, 93%);
  vertical-align: super;
}

button {
  background-color: hsl(71, 73%, 54%);
  border-color: hsl(71, 73%, 54%);
  border-radius: 0.3rem;
  border-style: none;
  color: white;
  font-family: Karla, sans-serif;
  font-weight: 700;
  padding: 1rem;
  /* width: -webkit-fill-available; */
}

button:focus {
  background-color: white;
  color: hsl(179, 62%, 43%);
}

.why {
  border-radius: 0 0 0.5rem 0.5rem;
  opacity: 0.7;
}

ul {
  padding: 0;
}

li {
  color: hsl(204, 43%, 93%);
  list-style-type: none;
}

footer {
  color: hsl(179, 62%, 43%);
  margin-top: 7rem;
  text-align: center;
}

/* Styling for different screen sizes
Designs created to mobile and desktop widths
- Mobile: 375px = 23.5 rem
- Desktop: 1440px = 90rem  LARGE!
- Medium: 1024px = 64rem*/
@media(min-width: 64rem) {
  body {
    padding: 8rem 12rem;
  }

  main {
    display: grid;
    max-width: 45rem;
  }

  section {
    padding: 2rem 3rem;
  }

  .join {
    grid-column: 1/3;
  }

  .monthly {
    border-radius: 0 0 0 0.5rem;
    grid-row: 2;
  }

  button {
    cursor: pointer;
  }

  button:hover {
    background-color: white;
    color: hsl(179, 62%, 43%);
  }

  .why {
    border-radius: 0 0 0.5rem 0;
    grid-row: 2;
  }
}
